.quiz-card {
    text-align: center;
    color: aliceblue;
    /* border: 1px solid tomato; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgba(185, 255, 191, 0.3);
}
.quiz-card:hover{
    background-color: rgb(46, 49, 59);
    box-shadow: 0px 0px 20px 2px rgba(185, 255, 191, 0.3);
    transition: 0.2s;
}

.quiz-card img {
    width: 50%;
}

.quiz-card button {
    background-color: rgb(6, 188, 143);
    color: #fff7ee;
    font-size: 16px;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.quiz-card button a{
    text-decoration: none;
    color: #fff7ee;
}

.quiz-card button:hover {
    transition: 0.25s;
    background-color: rgb(11, 216, 165);
}