nav{
    background-color: rgb(3, 199, 140);
    padding: 10px;
    position: sticky;
    top: 0;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.nav-logo a span{
    font-size: 24px;
    font-weight: 600;
    margin-left: 12px;
    color: rgb(255, 255, 255);
    font-family: 'Play', sans-serif;
    
}
.nav-logo img{
    height: 40px;
}

.nav-items{
    display: block !important;
}
.nav-items a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 20px;
}
.nav-items a:hover{
    color: rgb(255, 234, 176);
    transition: 0.25s;
}

.toggle-icon{
    display: none;
    color: #fff;
}
.toggle-icon svg{
    width: 35px;
}

@media screen and (max-width: 767px) {
    .toggle-icon{
        display: block;
    }
    .nav-items{
        display: flex !important;
        flex-direction: column;
        position: absolute;
        background-color: rgba(3, 199, 140, 0.97);;
        height: 100vh;
        width: 50%;
    }
    .nav-items a{
        color: #fff;
        margin-bottom: 20px;
    }
    .shown{
        top: 60px;
        left: 0;
        transition: 0.5s;
    }
    .hide{
        top: 60px;
        left: -55%;
        transition: 0.5s;
    }
}
