.error-page{
    margin-top: 120px;
    text-align: center;
}
.error-page h1{
    font-size: 4rem;
    margin: 0;
}
.error-page p{
    font-size: 2rem;
    margin: 0;
}
.error-page span a{
    text-decoration: none;
    color: rgb(9, 148, 255);
}
.error-page span a:hover{
    transition: 0.25s;
    color: rgb(9, 111, 255);
}
