.question-container {
    background-color: rgb(63, 67, 80);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 100%;
}
.question-container span{
    background-color: rgb(120, 226, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: rgb(30, 30, 30);
}

.question-head{
    display: flex;
    justify-content: space-between;
}

.see-answer{
    cursor: pointer;
}

.question-title, .question-title>p:nth-child(1)>span {
    padding-left: 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.question-title p span {
    color: rgb(223, 223, 223) !important;
}

.question-title p:nth-child(2), .question-title>p:nth-child(2)>span {
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(223, 223, 223) !important;
}

/*----------------
 Question Option 
 -----------------*/
.question-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}

.option{
    background-color: rgb(42, 45, 54);;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.option:hover{
    background-color: rgba(36, 2, 55, 0.6);
    transition: 0.2s;
}

/* --------------
Correct Answer 
----------------*/
.correct-ans{
    padding: 10px 20px;
    background-color: rgb(0, 196, 147);
    border-radius: 10px;
    margin-top: 20px;
}

.hide{
    display: none;
}

.shown{
    display: block;
}

.clicked{
    background-color: rgba(36, 2, 55, 0.6);
}
.unclicked{
    background-color: rgba(36, 2, 55, 0.4);
}